<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" lang="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobo & Vaz Advogados Associados</title>
    <meta name="description" content="Fundada em 2010 e inscrita na OAB/SC sob o nº 1.783, a Lobo & Vaz Advogados Associados resultou da união de conhecimentos, experiências e objetivos em comuns de seus integrantes, que primam pela excelência dos serviços jurídicos prestados, especialmente nas áreas de Direito Empresarial, Direito Tributário, Direito Aduaneiro, Direito do Trabalho e Previdenciário, Direito Marítimo e Direito Internacional.">
    <meta name="keywords" content="advogados, florianópolis,  Direito Empresarial, Direito Tributário, Direito Aduaneiro, Direito do Trabalho e Previdenciário, Direito Marítimo e Direito Internacional">
    <meta name="author" content="Leandro Rodrigues do Canto">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Lato:400,300,700|PT+Sans:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/Home")
    <link href="~/css/blog.css" rel="stylesheet" />
    <link href="../css/postList.css" rel="stylesheet" />


    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>

    @*@Styles.Render("~/Content/css")*@
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <input type="hidden" value="@ViewBag.userID" id="UserID" />
    <div class="ccontainer">
        <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
        <div id="theSidebar" class="sidebar">
            <button class="close-button fa fa-fw fa-times"></button>
            <div class="back-link">
                <a class="codrops-icon codrops-icon--prev" href="" onclick="goBack()" title="Voltar"><span>Voltar</span></a>
            </div>

            <ul class="list-unstyled profile-list">
                <li>
                    <figure class="text-center height-100 padding-10 profile" data-id="566635e16fa1f17ea65e52b6">
                        <img alt="Bruce Bastos Martins" src="~/img/profiles/thumbs/bruce bastos martins.png" height="50" width="50" class="profile-pic" />
                        <figcaption class="profile-caption"><h3>Bruce Martins</h3></figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="text-center height-100 padding-10 profile" data-id="566636256fa1f17ea65e52b7">
                        <img alt="Bruno Eduardo Budal Lobo" src="~/img/profiles/thumbs/bruno eduardo budal lobo.png" height="50" width="50" class="profile-pic" />
                        <figcaption class="profile-caption"><h3>Bruno Lobo</h3></figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="text-center height-100 padding-10 profile" data-id="5666364d6fa1f17ea65e52b8">
                        <img alt="Gabriel Souto Silva" src="~/img/profiles/thumbs/gabriel souto silva.png" height="50" width="50" class="profile-pic" />
                        <figcaption class="profile-caption"><h3>Gabriel Souto</h3></figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="text-center height-100 padding-10 profile" data-id="566636726fa1f17ea65e52b9" >
                        <img alt="Rafael Medeiros Popini Vaz" src="~/img/profiles/thumbs/rafael medeiros popini vaz.png" height="50" width="50" class="profile-pic" />
                        <figcaption class="profile-caption"><h3>Rafael Vaz</h3></figcaption>
                    </figure>
                </li>

            </ul>

        </div>

        <section id="theGrid" class="main bg-white">
            <div class="options-container">
                <div class="row">
                    <div class="col-xs-1 hidden-xs sm-hidden">
                        <span class="margin-top-5 pull-left">Filtros: </span>
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Categoria
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" class="filter" data-filter="all" id="filter-all">Todos</a></li>
                                <li><a href="#" class="filter" data-filter=".customs-law">Direito aduaneiro</a></li>
                                <li><a href="#" class="filter" data-filter=".tax-law">Direito tributário</a></li>
                                <li><a href="#" class="filter" data-filter=".labor-law">Direito do trabalho e previdenciário</a></li>
                                <li><a href="#" class="filter" data-filter=".maritime-law">Direito marítimo</a></li>
                                <li><a href="#" class="filter" data-filter=".business-law">Direito empresarial</a></li>
                                <li><a href="#" class="filter" data-filter=".international-law">Direito internacional</a></li>

                            </ul>
                        </div>
                    </div>
                    <div calss="col-xs-5 col-sm-4">
                        <div class="post-option-search">
                            <div class="input-group">

                                <input type="text" class="form-control" id="search-post" placeholder="Buscar">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Popular essa seção com a lista de posts -->
            <section class="post-list" id="post-list"></section>
            <!-- Popular essa seção com o conteúdo do post selecionado -->
            <section class="ccontent">
                <div class="scroll-wrap" id="post-wrap">
                    <article class="content__item"></article>
                </div>
                <button class="back-button">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button class="close-button">
                    <i class="fa fa-times"></i>
                    <span>Fechar</span>
                </button>
            </section>

        </section>
    </div>
    <div class="hidden" id="post-content-placeholder">

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29270391-1', 'auto');
        ga('send', 'pageview');

    </script>





    <!--    <script src="../../js/modernizr.js"></script>-->
    @*<script src="../../js/modernizr-2.6.2.js"></script>

    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/jquery-scrollToTop.js"></script>
    <script src="../../js/classie.js"></script>

    <script src="../../js/velocity.min.js"></script>
    <script src="../../js/velocity.ui.js"></script>*@
    @*
        <script src="../../js/blogManager.js"></script>*@


    @Scripts.Render("~/js/jq")
    @Scripts.Render("~/js/mdrnzr")
    @Scripts.Render("~/js/jqval")

    @Scripts.Render("~/js/btstrp")
    @Scripts.Render("~/js/home")



    <!--<script src="../../js/blog.js"></script>-->
    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/PostList.js"></script>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=436241219912916";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
