<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobo & Vaz Avocats Associés</title>
    <title>Lobo & Vaz Advogados Associados</title>
    <meta name="description" content="Fundada em 2010 e inscrita na OAB/SC sob o nº 1.783, a Lobo & Vaz Advogados Associados resultou da união de conhecimentos, experiências e objetivos em comuns de seus integrantes, que primam pela excelência dos serviços jurídicos prestados, especialmente nas áreas de Direito Empresarial, Direito Tributário, Direito Aduaneiro, Direito do Trabalho e Previdenciário, Direito Marítimo e Direito Internacional.">
    <meta name="keywords" content="advogados, florianópolis,  Direito Empresarial, Direito Tributário, Direito Aduaneiro, Direito do Trabalho e Previdenciário, Direito Marítimo e Direito Internacional">
    <meta name="author" content="Leandro Rodrigues do Canto">

    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Lato:400,300,700|PT+Sans:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/css/Home")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .media-menu {
            margin-left: 110px;
        }

        .news-menu {
            margin-left: 20px;
        }

        .contact-menu {
            margin-left: 20px;
        }

        .li-en {
            margin-left: 10px;
        }
    </style>   
</head>
<body>
    <div class="main">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">
                    <a href="#att" class="att-menu"><span>Avocats</span></a>
                    <a href="#work" class="work-menu"><span>Domaines d'activités</span></a>
                    <a href="#us" class="about-menu"><span>Le cabinet</span></a>
                    <a href="#media" class="media-menu"><span>Médias</span></a>
                    <a href="#news" class="news-menu"><span>Articles</span></a>
                    <a href="#contact" class="contact-menu"><span>Parlez avec nous</span></a>
                </div>
            </nav>
        </div>

        <button class="menu-button hidden" id="open-button"></button>
        <div class="content-wrap ">
            <div class="content">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="responsive-logo"></div>
                            <div class="pullcontainer">
                                <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo-holder"></div>
                                <nav>
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#att">AVOCATS</a>
                                        </li>
                                        <li>
                                            <a href="#work">DOMAINES D’ACTIVITÉS</a>
                                        </li>
                                        <li>
                                            <a href="#us">LE CABINET</a>
                                        </li>
                                        <li>
                                            <a href="#media" class="media-menu r-spacer">Médias</a>
                                        </li>
                                        <li>
                                            <a href="#news" class="news-menu">ARTICLES</a>
                                        </li>
                                        <li>
                                            <a href="#contact" class="contact-menu">PARLEZ AVEC NOUS</a>
                                        </li>

                                        <li>

                                            <ul class="flags ">

                                                <li>
                                                    <a href="/Home/IndexEN" class="en" title="English">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/Index" class="br" title="Português">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md12 heighter">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <div class="quote">
                                <q>"La justice est la première vertu des institutions sociales comme la vérité est celle des systèmes de pensée"</q>
                                <p>John Rawls</p>
                                <div class="quote-button text-center"><a href="#us" class="ico_btn-home"></a></div>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="att-container" id="att">
                    <div class="container-fluid">
                        <div class="row wp2">
                            <h1 class="att-header">Avocats</h1>
                            <hr class="line" />
                            <div class="flexslider">
                                <ul class="slides">
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brn.png" alt="[Foto] Bruno Eduardo Budal Lobo" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Bruno Eduardo Budal Lobo</h1>

                                                <p>Membre de l'Ordre des Avocats du Brésil - OAB/SC 30.059</p>
                                                <p>
                                                    Né à Joinville/SC, Brésil.
                                                </p>

                                                <p>Diplômé en Droit par la Faculté du Complexe d’Enseignement Supérieur de Santa Catarina - CESUSC.</p>
                                                <p>Spécialiste en Droit Douanier et Commerce International par l’Univesité de la Vallée de Itajaí – UNIVALI.</p>
                                                <p>
                                                    Gradué au Cours de Formation des Commissionnaire de Transport International de l’Association Brésilienne du Commerce International – ABRACOMEX.
                                                </p>

                                                <p>Conférencier et auteur de nombreux articles en revues spécialisées, comprenant le livre ‘Direito Marítimo, Regulação e Desenvolvimento’ (Ed. Forum, 2011).</p>
                                                <p><a href="http://lattes.cnpq.br/0306847203259337" target="_blank">Currículum Lattes</a> | Langues parlées: Portugais et anglais.</p>
                                                <p>
                                                    <a href="mailto:bruno@lzadv.com.br">bruno@lzadv.com.br </a>
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brc.png" alt="[Foto] Bruce Bastos Martins" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Bruce Bastos Martins</h1>
                                                <span class="att-subtitle">OAB/SC 32.471</span>
                                                <p>Membre de l'Ordre des Avocats du Brésil - OAB/SC 32.471</p>
                                                <p>
                                                    Né à Florianópolis/SC, Brésil.
                                                </p>

                                                <p>
                                                    Diplômé en Droit par la Faculté du Complexe d’Enseignement Supérieur de Santa Catarina - CESUSC.
                                                </p>
                                                <p>
                                                    Spécialiste en Droit Fiscal par l'Institut Brésilien d'Études Fiscales - IBET.
                                                </p>

                                                <p>
                                                    Professeur de Droit Fiscal et auteur de nombreux articles en revues spécialisées.
                                                </p>
<p>
                                                    Spécialiste en Droit Douanier et Commerce International par l’Univesité de la Vallée de Itajaí – UNIVALI.
                                                </p>                                                
<p>
                                                    Langues parlées: Portugais, anglais et français.
                                                </p>
                                                <p>
                                                    <a href="mailto:bruce@lzadv.com.br">bruce@lzadv.com.br</a> 

                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/rfl.png" alt="[Foto] Rafael Medeiros Popini Vaz" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Rafael Medeiros Popini Vaz</h1>


                                                <p>Membre de l'Ordre des Avocats du Brésil - OAB/SC 34.782</p>
                                                <p>
                                                    Né à Florianópolis/SC, Brésil.
                                                </p>


                                                <p>
                                                    Diplômé en Droit par la Faculté du Complexe d’Enseignement Supérieur de Santa Catarina - CESUSC.
                                                </p>
                                                <p>
                                                    Spécialiste en Droit Douanier et Commerce International par l’Univesité de la Vallée de Itajaí – UNIVALI.
                                                </p>
<p>
                                                    Spécialiste en Droit et Procès du Travail par laFaculté du Complexe d’Enseignement Supérieur de Santa Catarina - CESUSC.
                                                </p>
                                                <p>
                                                    Langues parlées: Portugais, français et anglais.
                                                </p>
                                                <p>
                                                    <a href="mailto:rafael@lzadv.com.br">rafael@lzadv.com.br</a> 
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/gbrl.png" alt="[Foto] Gabriel Souto Silva" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Gabriel Souto Silva</h1>


                                                <p>Membre de l'Ordre des Avocats du Brésil - OAB/SC 31.344</p>
                                                <p>
                                                    Né à Florianópolis/SC, Brésil.
                                                </p>

                                                <p>Diplômé en Droit par la Faculté du Complexe d’Enseignement Supérieur de Santa Catarina - CESUSC.</p>
                                                <p>Spécialiste en Droit Douanier et Commerce International par l’Univesité de la Vallée de Itajaí – UNIVALI.</p>
                                                <p> Diplômé en Comptabilité par le Service National d'Apprentissage Commercial – SENAC.</p>

                                                <p>Langues parlées: Portugais et anglais.</p>
                                                <p>
                                                    <a href="mailto:gabriel@lzadv.com.br">gabriel@lzadv.com.br</a> 
                                                    
                                                </p>

                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-fluid work">
                    <div class="row">
                        <div class="col-lg-12 section-1" id="work">
                            <div class="wp3 section-text">
                                <h2>Domaines D'Activités</h2>
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <img src="../../img/adu.png" alt="[Foto] Direito Aduaneiro" />
                                        <figcaption>
                                            <h3>Droit Douanier</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Les avocats du cabinet Lobo &amp; Vaz Avocats Associés connaissent en profondeur les relations de la douane. Nous fournissons securité légale et des solutions prudentes à travers de notre assistance juridique aux entreprises actives dans le domaine du commerce extérieur, à la fois dans la prévention et dans le contentieux.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trab.png" alt="[Foto] DROIT DU TRAVAIL ET DE LA SÉCURITÉ SOCIALE" />
                                        <figcaption>
                                            <h3>DROIT DU TRAVAIL ET DE LA SÉCURITÉ SOCIALE</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Le cabinet Lobo &amp; Vaz Avocats Associés est remarquable par la spécialisation de ses avocats, qui sont toujours au service de ses clients promptement, offrant des services juridiques dans les contentieux judiciaires et admnistratifs concernant les relations du travail et de la sécurité sociale.;
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-mar.png" alt="[Foto] Direito Marítimo" />
                                        <figcaption>
                                            <h3>Droit Maritime</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                @*Les avocats du cabinet Lobo &amp; Vaz Avocats Associés offrent des services dans les domaines du droit maritime, surtout en ce qui concerne les besoins juridiques des investisseurs,  sur les transports brésiliens et étrangers des marchandises et des passagers, les autorités portuaires, les armateurs et les sociétés, aussi bien que les fournisseurs de services et de logistique.<br>
                                                    <br>*@
                                                Notre équipe est spécialisée dans les pratiques commerciales et dans les exigences légales, a également une grande connaissance des risques des assurances et des aspects financiers liés au secteur maritime. Notre proximité aux principaux ports du Brésil, nous permet d´être en mesure de fournir nos services avec efficacité et rapidité.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trib.png" alt="[Foto] Direito Tributário" />
                                        <figcaption>
                                            <h3>Droit <span>Fiscal</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                La société Lobo &amp; Vaz Avocats Associés a des professionnels spécialisés possédant une vaste expérience dans les diverses branches du Droit Fiscal.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-emp.png" alt="[Foto] Direito Empresarial" />
                                        <figcaption>
                                            <h3>Droit des Affaires</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Le cabinet Lobo &amp; Vaz Avocats Associés prête des conseils sur la planification, la préparation et l'exécution de tous les types de contrats commerciaux, ainsi que des conseils et de l'action préventive dans les cas de litiges contractuels. Néanmoins, nous parrainons des mesures de zèle et de dévouement judiciaires et extrajudiciaires dans l'intérêt de nos clients.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-int.png" alt="[Foto] Direito Internacional" />
                                        <figcaption>
                                            <h3>Droit International</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                La société Lobo &amp; Vaz Avocats Associés fournit les plus divers services juridiques liés au Droit International, en vue du fort développement économique du Brésil, sous l'influence du phénomène de la globalisation.
                                            </p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-fluid about wp4" id="us">
                    <div class="row">
                        <div class="col-lg-12 section-3">
                            <div class="logo-3 wp3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 section-text">
                            <div class="wp4">
                                <p class="paddingLR60">
                                    Nous croyons que la croissance ne peut pas troubler la primauté du service, en vue de notre façon de travailler. Fondée en 2010 et enregistré au Barreau Brésilien de Santa Catarina – OAB/SC n ° 1.783/2010, la société Lobo & Vaz Avocats Associés résulte de l'union de la connaissance, de l'expérience et des objectifs communs de ses partenaires et des ses avocats qui se distinguent par la qualité de ses services juridiques, en particulier dans les domaines du Droit Douanier, Droit Maritime, Droit Fiscal, Driot des Affaires et Droit International.
                                </p>
                                <p class="paddingLR60">Notre personnel juridique est composé de professionnels consacrés à l'accompagnement de nos clients dans le domaine juridique, en travaillant directement avec l'élaboration et le suivi des travaux liés à la fois dans prévention comme aussi dans les litiges.</p>
                                <p class="paddingLR60">Avec l'agilité, la polyvalence et l'indépendance que le marché exige, le cabinet Lobo & Ziembowicz Avocats Associés fournit les connaissances et les outils nécessaires pour permettre aux entreprises d'agir avec compétitivité et sécurité. La formation, la préparation de ses professionnels et la portée internationale du bureau font partie de sa vision stratégique et sont efficaces dans toutes ses propositions.</p>
                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 section-text">
                            <div class="wp4">
                                <h3 class="text-center">Du phénomène d'éthiques-juridiques</h3>
                                <h4 class="text-center">Présentation logique sémantique</h4>
                                <p class="paddingLR60">
                                    Valeurs: les valeurs sont nos sens, les produits de nos affections en tant que société, les moyens de mettre en valeur la vie juridique. 
                                </p>
                                <p class="paddingLR60">Vision: une telle combinaison de valeurs complexes produisent en grande partie l'énergie de notre puissance, la puissance d'exister et d'agir, ce qui permet un aperçu des termes phénomènes et ainsi construire notre réalité. </p>
                                <p class="paddingLR60">Mission: à partir de notre vision, un faisceau de nos valeurs, nous nous lançons de notre corps juridiques à travers d’un processus noétique-noématique, forgent nos missions à l'appui de notre clients, révélant le phénomène éthico-juridique de notre bureau. </p>
                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row paddingLR60">
                        <div class="col-md-4 section-text">
                            <h2>Valeurs</h2>
                            <ul class="list-unstyled values-list">
                                <li>
                                    Conviction: toujours prendre une position face à un doute;
                                </li>
                                <li>
                                    Responsabilité: se responsabiliser de toute prise de position;
                                </li>
                                <li>
                                    Union: action et analyses des conflits toujours en collaboration avec le client;
                                </li>
                                <li>
                                    Securité: assurer par tous les moyens le maximum de sécurité juridique;
                                </li>
                                <li>
                                    Agilité: agir rapidement et avec force.
                                </li>

                            </ul>
                           
                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Mission</h2>

                            <p>L’inséparabilité corporative, ce qui fait de nous une extension engagée et efficace de responsabilité envers notre client, en vue de résoudre les conflits juridiques du présent et de l'avenir.</p>
                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Vision</h2>
                            <p>Concrétiser une nouvelle façon d’offrir les services juridiques</p>

                        </div>
                    </div>
                </section>
                <div class="about-news-split wp5">
                </div>


                <span id="media"></span>
                <section class="container-fluid paddingLR60 padding-bottom-20 media-section">
                    <div class="row">
                        <div class="law-connection margin-top-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="logo-law-connection text-center" src="~/img/logo_conexao_juridica.png" width="200" height="80" />
                                </div>
                            </div>
                            <div class="row margin-top-50 profile-container">
                                <div class="col-md-3">
                                    <figure class="height-200 profile" data-id="566635e16fa1f17ea65e52b6">
                                        <img alt="Bruce Bastos Martins" src="~/img/Bruce Bastos Martins.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">
                                            <h3>Bruce<br /> Martins</h3>

                                        </figcaption>
                                        <div class="text-center profile-job-description">
                                            Conexão Tributária
                                        </div>
                                        <div class="skype-status">

                                            <div id="SkypeButton_Call_brucebastos13_1">
                                                @*<span class="pull-right">Ler artigos</span>*@
                                            </div>

                                        </div>
                                    </figure>

                                </div>
                                <div class="col-md-3">
                                    <figure class="height-200 profile" data-id="566636256fa1f17ea65e52b7">
                                        <img alt="Bruno Eduardo Budal Lobo" src="~/img/Bruno Eduardo Budal Lobo.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">
                                            <h3>Bruno<br /> Lobo</h3>
                                        </figcaption>
                                        <div class="text-center profile-job-description">
                                            Conexão Aduaneira
                                        </div>
                                        <div class="skype-status">

                                            <div id="SkypeButton_Call_lobo.brunoo_1">
                                                @*<span class="pull-right">Ler artigos</span>*@
                                            </div>
                                        </div>
                                    </figure>
                                </div>


                                <div class="col-md-3">
                                    <figure class="height-200 profile" data-id="5666364d6fa1f17ea65e52b8">
                                        <img alt="Gabriel Souto Silva" src="~/img/Gabriel Souto Silva.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">
                                            <h3>Gabriel<br /> Silva</h3>
                                        </figcaption>
                                        <div class="profile-job-description">
                                            Conexão Empresarial

                                        </div>
                                        <div class="skype-status">

                                            <div id="SkypeButton_Call_facebook:gssouto_1">
                                                @*<span class="pull-right">Ler artigos</span>*@
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="height-200 profile" data-id="566636726fa1f17ea65e52b9">
                                        <img alt="Rafael Medeiros Popini Vaz" src="~/img/Rafael Medeiros Popini Vaz.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">
                                            <h3>Rafael<br /> Vaz</h3>
                                        </figcaption>
                                        <div class="text-center profile-job-description">
                                            Conexão Trabalhista
                                        </div>
                                        <div class="skype-status">

                                            <div id="SkypeButton_Call_rafaelpopini_1">
                                                @*<span class="pull-right">Ler artigos</span>*@
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr />
                    <div class="row margin-top-55">
                        <div class="col-sm-12">

                            <img class="logo-law-channel" src="~/img/logo_canal_juridico.png" width="200" height="85" />
                        </div>
                        <br />
                        <div class="row ">
                            <div class="col-sm-8 col-sm-offset-2 ">
                                <div class="videoWrapper margin-top-30">
                                    <!-- Copy & Pasted from YouTube -->
                                    <iframe width="640" height="480" src="https://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="videoWrapper margin-top-30">
                                    <iframe width="640" height="480" src="https://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="videoWrapper margin-top-30">
                                    <iframe width="640" height="480" src="https://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="videoWrapper margin-top-30">
                                    <iframe width="640" height="480" src="https://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="videoWrapper margin-top-30">
                                    <iframe width="640" height="480" src="https://www.youtube.com/embed/FKWwdQu6_ok" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-md-12">
                                <a href="http://www/youtube.com" class="pull-right"><i class="fa fa-youtube fa-2x"></i> Canal Jurídico</a>
                            </div>
                        </div>
                    </div>
                </section>

                <span id="news" class="margin-top15"></span>
                <section class="container-fluid news paddingLR60">
                    <div class="row">
                        <div class="col-md-6" id="news-column">
                            <h2>Notícias</h2>
                        </div>
                        <div class="col-lg-6">
                            <h2>@*<img src="../../img/file-dl.png" height="56" width="45" />*@ Articles (seulement en portugais)</h2>
                            <div class="article-list hidden">
                                <div class="panel-group" id="accordion">
                                    <!--ADUANEIRO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseAdu">
                                                Direito Aduaneiro

                                            </h2>
                                        </div>
                                        <div id="collapseAdu" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a target="_blank" href="/artigos/aduaneiros/importacao/PIS%20E%20COFINS%20NA%20IMPORTAÇÃO%20PARA%20EMPRESAS%20OPTANTES%20PELO%20LUCRO%20PRESUMIDO.pdf">PIS e COFINS na importação para empresas optantes pelo lucro presumido</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="/artigos/aduaneiros/importacao/EXCLUSÃO%20DO%20ICMS%20E%20CONTRIBUIÇÕES%20SOCIAIS%20DA%20BASE%20DE%20CÁLCULO%20DO%20PIS%20E%20COFINS%20INCIDENTE%20NA%20IMPORTAÇÃO.pdf">Exlcusão do ICMS e contribuições sociais da base de cálculo do PIS e COFINS incidente na importação</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="/artigos/aduaneiros/importacao/A%20POSSIBILIDADE%20DA%20CAUÇÃO%20PECUNIÁRIA%20PARA%20A%20LIBERAÇÃO%20DE%20MERCADORIA%20RETIDA%20NO%20PROCEDIMENTO%20ESPECIAL%20DE%20CONTROLE.pdf">
                                                            A possibilidade da caução pecuniária para a liberação de
                                                            mercadoria retida no procedimento especial de controle – uma análise da instrução
                                                            normativa da Receita Federal do Brasil nº 1.169/2011 de 29 de junho de 2011.
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TRIBUTARIO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTrib">
                                                Direito Tributário
                                            </h2>
                                        </div>
                                        <div id="collapseTrib" class="panel-collapse collapse">
                                            <!-- Federais-->
                                            <div class="panel panel-default panel-padding ">
                                                <div class=" panel-heading-sm">
                                                    <h4 data-toggle="collapse" data-parent="#collapseTrib" data-target="#collFederal" class="panel-title cursor-hand">
                                                        Federais
                                                    </h4>
                                                </div>
                                                <div id="collFederal" class="panel-collapse collapse">
                                                    <p class="text-left">Contribuição Previdenciária Patronal (INSS)</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/inss/CONTRIBUIÇÃO%20SOBRE%20VERBAS%20QUE%20NÃO%20SE%20DESTINEM%20RETRIBUIR%20O%20TRABALHO.pdf">Contribuição sobre verbas que não se destinam a retribuir o trabalho</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/inss/NÃO%20INCIDÊNCIA%20DA%20CONTRIBUIÇÃO%20PREVIDENCIÁRIA%20PATRONAL%20SOBRE%20O%20ADICIONAL%20DE%20RISCO%20DE%20VIDA.pdf">Não incidência da contribuição previdenciária patronal sobre o adicional de risco de vida</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/inss/NÃO%20INCIDÊNCIA%20DA%20CONTRIBUIÇÃO%20PREVIDENCIÁRIA%20PATRONAL%20SOBRE%20VERBAS%20INDENIZATÓRIAS.pdf">Não incidência da contribuição precidenciária patronal sobre verbas indenizatórias</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">PIS e COFINS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <!--<a href="#">PIS e COFINS sobre o bônus obtido pelas concessionárias
                                                                    de veículos</a>-->
                                                                <a target="_blank" href="/artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DO%20PIS%20E%20DA%20COFINS%20SOBRE%20O%20CRÉDITO%20PRESUMIDO.pdf">Não incidência do PIS e da COFINS sobre o crédito presumido</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DO%20PIS%20E%20COFINS%20SOBRE%20A%20TAXA%20DA%20ADMINISTRADORA%20DO%20CARTÃO%20DE%20CRÉDITO-DÉBITO.pdf">Não incidência do PIS e COFINS sobre a taxa da administradora do cartão de crédito-débito</a>
                                                                <!--<a href="#">PIS e COFINS sobre outras receitas que não configurem hipótese
                                                                    de incidência</a></li>-->
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DE%20PIS%20E%20COFINS%20PARA%20A%20CONCESSIONÁRIA%20SOBRE%20O%20BÔNUS%20CEDIDO%20PELA%20MONTADORA%20DE%20VEÍCULOS%20AUTOMOTORES.pdf">Não incidência de PIS e COFINS para a concessionária sobre o bônus cedido pela montadora de veículos automotores</a>
                                                                <!--<a href="#">PIS e COFINS sobre a taxa da administradora do cartão de
                                                                    credito/debito</a></li>-->
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/piscofins/DIREITO%20AO%20CRÉDITO%20DE%20PIS%20(1,65)%20E%20COFINS%20(7,6)%20PELA%20AQUISIÇÃO%20DE%20PRODUTOS%20INSERIDOS%20NO%20REGIME%20MONOFÁSICO%20DE%20TRIBUTAÇÃO.pdf">Direito ao crédito de PIS (1,65%) e COFINS (7,6%) pela aquisição de produtos inseridos no regime monofásico de tributação</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/piscofins/REDUÇÃO%20DA%20ALÍQUOTA%20DE%20PIS%20E%20COFINS%20SOBRE%20PRESTADORES%20DE%20SERVIÇO%20TRIBUTADOS%20PELO%20REGIME%20DO%20LUCRO%20REAL.pdf">Redução da alíquota de PIS e COFINS sobre prestadores de serviço tributados pelo regime do lucro real</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">IPI</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/IPI/NAO%20INCIDENCIA%20DO%20IPI%20NA%20REVENDA%20DE%20MERCADORIA%20IMPORTADA.pdf">Não incidência do IPI na revenda de mercadoria importada</a>
                                                                <!--<a href="#">Não incidência do IPI na revenda de mercadoria importada</a>-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">FAP/RAT</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a target="_blank" href="/artigos/tributario/FAP/NAO INCIDANCIA DO FATOR ACIDENTARIO DE PREVENCAO (FAP) SOBRE O RISCO AMBIENTAL DO TRABALHO.pdf">Não incidência do fator acidentário (FAP)</a></li>
                                                            <li><a target="_blank" href="/artigos/tributario/RAT/ILEGALIDADE DA APLICAÇÃO DO RISCO AMBIENTAL DO TRABALHO POR DECRETO.pdf">Ilegalidade da aplicação do risco ambienta do trabalho por decreto (RAT)</a></li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">Artigos especiais</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a target="_blank" href="/artigos/tributario/especiais/ARTIGO - ALTERAÇÕES NA LEGISLAÇÃO TRIBUTÁRIA - 12973-14.pdf">Alterações Provocadas pela Lei nº 12.973/2014</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Estaduais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collEstadual" class="panel-title cursor-hand">Estaduais</span>
                                                </div>
                                                <div id="collEstadual" class="panel-collapse collapse">
                                                    <p class="text-left">ICMS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/ICMS/EXCLUSÃO%20DO%20CRÉDITO%20DE%20ICMS%20NÃO%20RESTITUÍDO%20PELAS%20EMPRESAS%20EXPORTADORAS%20DA%20BASE%20DE%20CÁLCULO%20DO%20IRPJ%20E%20CSLL.pdf">Exclusão do crédito de ICMS não restituído pelas empresas exportadoras da base de cálculo do IRPJ e CSLL</a>
                                                                <!--    <a href="#">Exclusão do crédito de ICMS não restituído pelas empresas
                                                                        exportadoras da base de cálculo do IRPJ e CSLL</a>-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Municipais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collMunicipal" class="panel-title cursor-hand">Municipais</span>
                                                </div>
                                                <div id="collMunicipal" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <!--<a href="#">Não incidência do ISS sobre a incorporação imobiliária
                                                                    direta (construção civil em terreno próprio)</a>-->
                                                                <a target="_blank" href="/artigos/tributario/ISS/NÃO%20INCIDÊNCIA%20DO%20ISS%20SOBRE%20A%20ATIVIDADE%20DE%20PLANOS%20DE%20SAÚDE.pdf">Não incidência do ISS sobre a atividade de planos de saúde</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="/artigos/tributario/ISS/NAO%20INCIDENCIA%20DO%20IMPOSTO%20SOBRE%20SERVICO%20(ISS)%20NA%20PRODUCAO%20DE%20FILMES.pdf">Não incidência do imposto sobre serviço (ISS) na produção de filmes</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--MARITIMO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMar">
                                                Direito Marítimo

                                            </h3>
                                        </div>
                                        <div id="collapseMar" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a target="_blank" href="/artigos/maritimo/ASPECTOS%20JURÍDICOS%20DA%20REPRESENTAÇÃO%20DO%20BRASIL%20NA%20INTERNATIONAL%20MARITIME%20ORGANIZATION.pdf">Aspectos Jurídicos da Representação do Brasil na International Maritime Organization</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="/artigos/maritimo/AS%20CARACTERÍSTICAS%20DAS%20CLÁUSULAS%20DE%20FORÇA%20MAIOR%20E%20DA%20CLÁUSULA%20HARDSHIP%20E%20SUAS%20DIFERENÇAS.pdf">As características das cláusulas de força maior e da cláusula HARDSHIP e suas diferenças</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- INTERNACIONAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseInter">
                                                Direito Internacional

                                            </h3>
                                        </div>
                                        <div id="collapseInter" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--EMPRESARIAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEmp">
                                                Direito Empresarial

                                            </h3>
                                        </div>
                                        <div id="collapseEmp" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <footer id="contact" class="contact container-fluid paddingLR60 wp6">

                    <div class="row">
                        <h3>Parlez Avec Nous</h3>
                        <div class="col-lg-6">
                            <form id="contact-form" class="contact-form">
                                <label for="name" class="clabel">Nom</label>
                                <input id="name" name="name" type="text" required />
                                <label for="email" class="clabel">E-mail</label>
                                <input type="email" name="email" id="email" required />
                                <label for="message" class="clabel">Message</label>
                                <textarea id="message" name="message"></textarea>
                                <br />

                                <button class="progress-button" data-style="rotate-angle-bottom" data-perspective data-horizontal id="contact-submit">Envoyer</button>

                                <p>
                                    <label class="label label-success fontsize18 hidden" id="successlabel">Obrigado, seu email foi enviado com sucesso!</label>

                                </p>
                                <br />
                                <p class="label label-danger padding10 fontsize14 hidden" id="errorlabel" style="font-weight: 400;">
                                    Ops, ocorreu um erro ao enviar o email. Se você preferir pode enviar um email diretamente para <a style="color:white;font-size:14px;" href="mailto:contato@lzadv.com.br">contato@lzadv.com.br</a>.
                                </p>
                            </form>
                        </div>
                        <br />
                        <div class="col-lg-6">
                            <hr />
                            <address>
                                RUA SANTOS SARAIVA, 840, C-04 (SALA 404), ESTREITO
                                FLORIANÓPOLIS | SC
                            </address>
                            <p><img height="17" width="12" src="../../img/phone.png"> +55 48 3028-7144 | <img src="../../img/arroba.png" height="17" width="17"> contato@lzadv.com.br</p>
                            <a href="https://goo.gl/maps/r4vJb" target="_blank"><img src="../../img/pin.png" height="18" width="14" /> Adresse</a>
                            <div class="row margin-top-15">
                                <ul class="list-inline">
                                    <li>
                                        <a href="http://twitter.com/LZAdv" target="_blank">
                                            <img src="../../img/twitter.png" alt="Twitter" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/LZAdv" target="_blank">
                                            <img src="../../img/facebook.png" alt="Facebook" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.linkedin.com/company/2900624?trk=tyah" target="_blank">
                                            <img src="../../img/linkedin.png" alt="" />
                                        </a>
                                    </li>
                                    <li><a href="http://www.youtube.com/channel/UCp5nUbCGI-s5U0SumBtqQvw?feature=mhee" target="_blank"><img src="../../img/youtube.png" alt="" /></a></li>
                                    <li><a href="http://lzadv.wordpress.com/" target="_blank"><img src="../../img/wordpress.png" alt="" /></a></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </footer>

            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29270391-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    @Scripts.Render("~/js/jq")
    @Scripts.Render("~/js/mdrnzr")
    @Scripts.Render("~/js/jqval")

    @Scripts.Render("~/js/btstrp")
    @Scripts.Render("~/js/home")

    
</body>
</html>